// Colors
$off-white: #efefef;
$blue: #336699;
$dark-blue: #336688;
$gray: #889ecf;
$off-blue: #12213a;
$light-blue: #444655;
// Spacing
$s-size: 1rem;
$m-size: 1.5rem;
$l-size: 2.5rem;
$xl-size: 4rem;
$desktop-breakpoint: 45rem;